<% content_for :title do %>だれうま！｜<%= @theme.subject %><% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=1374765059423949";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="contents" class="container">
  <div id="theme">
    <h1>この英文を誰かうまいこと意訳してください。</h1>
    <div id="social_btns" style="text-align:center;">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="この英文を誰かうまいこと意訳してください。「<%= @theme.subject %>」" data-via="dare_uma_com" data-lang="ja" data-hashtags="だれうま">ツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      <a href="http://b.hatena.ne.jp/entry/http://dare-uma.com/theme/<%= @theme.id %>" class="hatena-bookmark-button" data-hatena-bookmark-title="れうま！｜その足りない頭で気の利いた和訳でも作ってみろっての！" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
      <div class="fb-like" data-href="http://dare-uma.com/theme/<%= @theme.id %>" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
    <h2 id="theme_subject"><%= @theme.subject %></h2>
    <% if @theme.img_exist? %><img src="/system/images/<%= @theme.id %>" style="width:100%; margin-top:20px;" /><% end %>
  </div>
  <form action="/theme" method="post">
    <div class="post" class="clearfix">
      <div class="textarea_container">
        <textarea name="article[content]" placeholder="140字以内で入力してください"></textarea>
        <input type="hidden" name="article[theme_id]" value="<%= @theme.id %>" />
      </div>
      <div class="name_container clearfix">
        <input type="text" name="article[user_name]" placeholder="ニックネームを入力してください">
        <!--<input type="button" value="投稿する" onclick="window.open('http://twitter.com/share?url=<%#=$config["host"]%>/detail?id=<%#=@theme.id%>&text=“<%#=@theme.subject%>”の意訳をだれうま.comに投稿しました。 #だれうま', 'twitter_tweet', 'width=550, height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1'); submit();"/>-->
        <input type="button" value="投稿する" onclick="submit();" />
      </div>
    </div>
    <!--
    <div class="post" class="clearfix">
      <div class="textarea_container">
        <textarea name="article[content]" style="height:70px;" placeholder="140字以内で入力してください">”<%#=@theme.subject%>”の意訳をだれうま.comに投稿しました。<%#=$config["host"]%>/detail?id=<%#=@theme.id%> #だれうま</textarea>
        <input type="hidden" name="article[theme_id]" value="<%= @theme.id %>" />
      </div>
      <div class="name_container clearfix">
        <input type="button" value="Tweet" />
      </div>
    </div>
  -->
  </form>
  <div id="answer">
    <div class="answer_container">
      <h3>回答</h3>
      <ul>
      <% @articles.each do |article| %>
        <li class="clearfix">
          <div class="flL answer_left">
            <% if article.image %>
              <img alt=" " src="<%= article.image %>" style="width:60px;">
            <% else %>
              <img alt=" " src="/assets/img/img_user.png" style="width:60px;">
              <% end %>
            <p class="username"><%= article.user_name %></p>
          </div>
          <div class="flL  answer_right">
            <p class="arrow_box"><%= article.content %></p>
            <div class="answer_right_bottom">
              <form action="/like/<%= article.id %>" method="post">
                <input type="button" value="だれうま！" onclick="this.form.submit();"><span class="arrow_box"><%= article.likes.count %></span>
              </form>
              <% if admin? %>
                <form action="/article/<%= article.id %>" method="post">
                  <input type="hidden" name="_method" value="delete" />
                  <input type="button" value="削除" class="del_button" onclick="this.form.submit();" />
                </form>
              <% end %>
          </div>
        </li>
      <% end %>
      </ul>
      <div style="text-align:center;margin-top:60px;"><%= paginate @articles %></div>
    </div>
  </div>
  <div id="nav" class="clearfix">
    <a class="flL" href="/prev?id=<%= @theme.id %>">&lt;&nbsp;前のお題</a><a class="flR" href="/next?id=<%= @theme.id %>">次のお題&nbsp;&gt;</a>
  </div>
</section>